.board-div{
    position: relative;
}
.rick{
    position: absolute;
    top: 608px;
    left: 796px;
}
.ballon{
    position: absolute;
    top: 705px;
    left: 398px;
}
.seeks{
    position: absolute;
    top: 6px;
    left: 901px;
}
.duck{
    position: absolute;
    top: 61px;
    left: 790px;
}
.morty{
    position: absolute;
    top: 359px;
    left: 982px;
}
.flamingo{
    position: absolute;
    top: 65px;
    left: 1489px;
}
.pencil{
    position: absolute;
    top: 338px;
    left: 804px;
}
.tinycowboy{
    position: absolute;
    top: 369px;
    left: 1665px;
}
.summer{
    position: absolute;
    top: 846px;
    left: 1331px;
}

.tinycowboy > * {
    left: -520px !important;
}
.flamingo > * {
    left: -520px !important;
}
.foundno > *{
    visibility: hidden;
}
.foundYes> *{
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 2em;
    z-index: 3;
    background-color: wheat;
}
.beenFound{
    position: absolute;
    width: 500px;
    height: 200px;
    top: 40%;
    left: 36%;
    z-index: 5;
    border:  10px solid black;
    border-radius: 20%;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    font-size: xx-large;
    background-image: repeating-conic-gradient(at 35% 45%, rgb(201, 245, 119) 10%, rgb(24, 202, 233) 20%, rgb(247, 118, 214)30%);
}
.none{
    visibility: hidden !important;
}
.score{
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    border-top: 5px solid black;
    height: 25px;
}
.scoreboard{
    position: absolute;
    top: 5px;
    text-align: center;
    vertical-align: middle;
    right: 5px;
    height: 50px;
    line-height: 25px;
    width: 100px;
    border: 5px solid black;
    background-color: whitesmoke;

}
.gameOver{
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 40%;
    height: 130px;
    width: auto;
    background-color: whitesmoke;
    text-align: center;
    font-size: xx-large;
    border: 10px solid black;
    background-image: repeating-linear-gradient( rgb(245, 119, 203) 10%, rgb(24, 202, 233) 20%, rgb(247, 118, 214)30%);
}
.notOver{
    visibility: hidden;
}
.button{
    position: relative;
    height: 35px;
    width: auto;
    z-index: 5;
}